<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="container">
        <form onsubmit="" class="contact-form" action="/successfull" method="POST">
            <h1>Call Booking Form</h1>
            <label for="name" class="form-content">Name</label><br>
            <input type="text" id="name" class="form-content" name = "name"><br>
            <label for="email" class="form-content">Email</label><br>
            <input type="text" id="email" class="form-content" name = "email"><br>
            <label for="phone" class="form-content">Phone Number</label><br>
            <input type="tel" id="phone" class="form-content" name="phone"><br>

            <button type="submit" class="button">GET CALL</button>

        </form>
    </div>
</body>
</html>